<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PiStation</title>
</head>
<body>
    <header>PiStation - Dashboard</header>
    <div class="main">
        <div class="humadity">
            <h3>{{ hum }}</h3>
        </div>
        <div class="temperature">
            <h3>{{ temp }}</h3>
        </div>
        <div class="plot">
            <img src={{ plot }} alt="plot">
        </div>
        <a href="/raw_data">See raw data</a>
    </div>
</body>
</html>