form {
    margin: 10px;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

form label {
    color: white;
    font-size: 18px;
}

form input {
    border-radius: 10px;
    width: 200px;
    height: 30px;
    margin: 5px;
    background-color: #80CBC4;
    font-weight: bold;
}