html {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #212121;
}

h3 {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.data {
    line-height: 200px;
    width: 200px;
    height: 200px;
    background-color: #4CAF50;
    -moz-border-radius: 1000px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}


.temperature {
    width: 200px;
    height: 200px;
    background-color: #4CAF50;
    -moz-border-radius: 1000px;
    -webkit-border-radius: 100px;
    border-radius: 100px
}

.plot {
    height: 100px;
    width: 200px;
}