@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700;900&display=swap');

body {
  margin-top: 0;
  margin: 0;
  width: 100%;
  background-color: teal;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  background-color: teal;
}

.header h1 {
  font-family: 'Catamaran', sans-serif;
  font-size: 35px;
  color: #212121;
}

.sidebar {
  position:absolute;
  left:0; top:92px; bottom: 0;
  width: 178px;
  background-color: teal;
}

.sidebar a {
  display: block;
  color: #212121;
  padding: 16px;
  text-decoration: none;
  font-family: 'Catamaran', sans-serif;
  font-size: 20px;
}

.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #212121;
  color: white;
}

.main-content {
  position: absolute;
  left:178px; top:92px; right:0; bottom:0;
  background-color: #212121;
}

.main-content h1 {
  color: #4CAF50;
  margin-left: 20px;
}

.main-content h2 {
  color: #4CAF50;
  margin-left: 16px;
}