<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Tomato</title>
    {% endif %}
</head>
<body>
    <div class="header">
        <center><h1>{{ title }}</h1></center>
    </div>
    <div class="sidebar">
        <a href="">Home</a>
        <a href="">Graphics</a>
        <a href="">Config</a>
        <a href="">Dev-Support</a>
        <a href="">About</a>
    </div>
    <div class="main-content">
        <h1>Main Content</h1>
    </div>
</body>
</html>